.banner img{
    width: 100px;    
}

.card{
    margin: px;
}

.card img{
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 15px;
}


.carousel-item a{
    max-height: 10px;
}

#banner img{
    max-height: 480px;
    size: cover;
}

.price-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}